<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tabela</title>
    <!-- Fonte Rawline-->
    <link
      rel="stylesheet"
      href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/fonts/rawline/css/rawline.css"
    />
    <!-- Fonte Raleway-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"
    />
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css" />
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <p class="h2 mb-3">Datatable</p>
      <div class="br-table is-datatable">
        <div class="header">
          <div class="top-bar">
            <div class="title">Título da Tabela</div>
            <div class="search-button">
              <button
                class="br-button is-circle is-tertiary"
                id="search-trigger"
                type="button"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="search-bar">
            <div class="br-input is-medium has-icon">
              <label for="table-search">Buscar</label>
              <input
                id="table-search"
                type="text"
                placeholder="Buscar na tabela"
              />
              <button class="icon" type="button">
                <span class="sr-only">Buscar</span><i class="fas fa-search"></i>
              </button>
            </div>
            <button
              class="br-button is-circle ml-1"
              id="search-close"
              type="button"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="responsive syncscroll">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">rovy2phh 5lfwvwks jn3md</td>
                <td data-th="Coluna 2">nhpwiq9l gpmw6yjm 7sikng</td>
                <td data-th="Coluna 3">xxutrf4u cas0ytep hih9cpa</td>
                <td data-th="Coluna 4">qlomj5se 2mg0y8iz qkb4y7</td>
                <td data-th="Coluna 5">0srz7o3m pbamema8 yp6jhb</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">s8b9i8oe nmj9bgh2 e9h4</td>
                <td data-th="Coluna 2">a45k3muw 0vi1125x f4g9i7</td>
                <td data-th="Coluna 3">v78mle5r rchviki2 tdbq9k</td>
                <td data-th="Coluna 4">c9t0vtlb sao0snrm soiusae</td>
                <td data-th="Coluna 5">sujulrxv fi6l8srl tjeco</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">v6k04bnz ju3tu3by ran</td>
                <td data-th="Coluna 2">i78ch9bs klj1ck5g e4ppkw</td>
                <td data-th="Coluna 3">u6p5xkj0 q3fk5y7s zird6h</td>
                <td data-th="Coluna 4">jbt01i92 3nsborva kanvn</td>
                <td data-th="Coluna 5">wfogrdut hrvw0b8j 7x1so</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">gav9xp9o jlv0prx6 xtl2sr</td>
                <td data-th="Coluna 2">kiy54eky 3vdza18j h4yqt</td>
                <td data-th="Coluna 3">slzv17nw wrnwirkb 4vv2tb</td>
                <td data-th="Coluna 4">0zfu8jot wm99gvis mac3lg</td>
                <td data-th="Coluna 5">o4z3e4vx n2cbeawh vn8duf</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">fra0bbuv fdigvu05 nheh</td>
                <td data-th="Coluna 2">i3l5jtyj wf9vocqb 2jcfk</td>
                <td data-th="Coluna 3">j904rjrs 1hticg1z 61a0s</td>
                <td data-th="Coluna 4">u7n107l8 09cd3kzx mlstm</td>
                <td data-th="Coluna 5">wch8fr1e x5ova8ve ispu</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">3pikf8x2 819spncs kyk6lj</td>
                <td data-th="Coluna 2">m8ibkzra 84bzapv6 dw39xn</td>
                <td data-th="Coluna 3">mxz2wkxa 40jadwkk 7drzyd</td>
                <td data-th="Coluna 4">nqedcn9z sc77z7dq 9fxzw</td>
                <td data-th="Coluna 5">zfb00xcm 72aievbs lf4p6i</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">eqr1ttid iufdyrst nntqec</td>
                <td data-th="Coluna 2">6c3ruv76 y94jdqhg exwtco</td>
                <td data-th="Coluna 3">e6dzlkz5 lq6ruuvq mawi7o</td>
                <td data-th="Coluna 4">9gtjrhrg kjqpyvse 5ui8a</td>
                <td data-th="Coluna 5">mlgyjmj3 wvf4seh1 t78gif</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">2uxvznc2 ppajmwtm 9z6lm</td>
                <td data-th="Coluna 2">wqd66yn5 h3iz90ye n2xql</td>
                <td data-th="Coluna 3">rqxwpri2 qo8puaul nr4q3</td>
                <td data-th="Coluna 4">t31jqgn7 zpibilrk e6kdy9</td>
                <td data-th="Coluna 5">4eqibvel aq4zv01f jnejyj</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">bzqqfjqw fz4mjsc0 pzi3wp</td>
                <td data-th="Coluna 2">0udc6jfo 2wud6e13 5ckjlu2</td>
                <td data-th="Coluna 3">q4a9ye6v znk81tjr woccr4</td>
                <td data-th="Coluna 4">2m1rzlf8 ujideetn 9lx8ie</td>
                <td data-th="Coluna 5">vie9wydn cxakab9l 722l4</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">xchmuf06 v7cjfqwv iefgd</td>
                <td data-th="Coluna 2">7mp7005d rkjkb9lj pok6oo</td>
                <td data-th="Coluna 3">tj1xe0bn gv0imka1 hu3ucg</td>
                <td data-th="Coluna 4">cbp5o6oe ilqf2db9 1pjrr</td>
                <td data-th="Coluna 5">75m0qdte gr7nqjc8 rcy88</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">rscedryb bcc2a45t 42bbwf</td>
                <td data-th="Coluna 2">vdsx2nn1 uni0w0zd eo6i7sc</td>
                <td data-th="Coluna 3">dwrgq4rl 757o1n93 m26p2</td>
                <td data-th="Coluna 4">4au3hukh 05hekfu5 k260wr</td>
                <td data-th="Coluna 5">6gggnlve 9sewwjl0 c3pzc</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">hze1uswt afi2e9fe agj4zl</td>
                <td data-th="Coluna 2">z1sg42pe lj80afvg 0gh327</td>
                <td data-th="Coluna 3">d9tjz1u2 889h29ep n6va1e</td>
                <td data-th="Coluna 4">5gjhhowq 03u6tkp9 0yny1c</td>
                <td data-th="Coluna 5">dgxxif8n h577uahm gg58p</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">25iqlb3p lbik1zv3 o3aza</td>
                <td data-th="Coluna 2">9z8t9v3c 0guoibss x5pnfg</td>
                <td data-th="Coluna 3">nxfbtm1d 33kfx8q7 sipzdc</td>
                <td data-th="Coluna 4">atbele19 c49hgi85 nj343c</td>
                <td data-th="Coluna 5">wmnwepz6 erifhb8w 19xt</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">7pvc8t24 ycusdam5 i2pxn</td>
                <td data-th="Coluna 2">23q1oc45 jy6ingfq nc0hr</td>
                <td data-th="Coluna 3">3dh3vxhs c4l8pvyr 5m9kme</td>
                <td data-th="Coluna 4">7hclxthj 0ocmqilk yolml9</td>
                <td data-th="Coluna 5">2ez78q53 u2qpiwqs syowid</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">0q5cjqll g5zre0ud yo7odf</td>
                <td data-th="Coluna 2">5a2a74kl ercyzk45 o11g5i</td>
                <td data-th="Coluna 3">uzob7qw6 n2hod967 rwi0c</td>
                <td data-th="Coluna 4">i312m8cy gfw0utq2 aw3jt</td>
                <td data-th="Coluna 5">rwh3srhl hjeal5v1 jo2h3</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">6e08qdh1 t67noimw rxcggo</td>
                <td data-th="Coluna 2">5nd3ebk1 sgahx9bl c5mto</td>
                <td data-th="Coluna 3">fpstho94 ywsqkcs9 kwqq2</td>
                <td data-th="Coluna 4">zvl2dpxw 4mhey5q2 ov6z4q</td>
                <td data-th="Coluna 5">4sfpsr4e r6kz8s1r 0a2kq</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">h6us4i3e j7n6zzg2 oa3sh7</td>
                <td data-th="Coluna 2">kb2osvna bhr75u1e d06so5</td>
                <td data-th="Coluna 3">bskqeim2 hpem3j7u hlc57</td>
                <td data-th="Coluna 4">ngtttopt 44pjpxdk wxygsp</td>
                <td data-th="Coluna 5">vwkogkj2 8ynegra7 nut41</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">3msliby2 jjvkmpp8 cciwqc</td>
                <td data-th="Coluna 2">wi27e9wq vvpn439g d2uveq</td>
                <td data-th="Coluna 3">lwduknnt ddqvrifv lm0nd</td>
                <td data-th="Coluna 4">d4wsaprb tutaq5kf vzy938</td>
                <td data-th="Coluna 5">8nl1oqbj 1p9vukrh yz7jd</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">3xx7szzl q66xka87 2hih4p</td>
                <td data-th="Coluna 2">dwrt3tgk dytagw5g xe6j59</td>
                <td data-th="Coluna 3">p5dd4l45 q5jhy9fk cadu1</td>
                <td data-th="Coluna 4">33nve4s3 91fy834h wcn5ts</td>
                <td data-th="Coluna 5">g04r9j8k bqtersyq kdkdz5</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">r49s7o1j 17pzkar4 of2w</td>
                <td data-th="Coluna 2">nsnjk48z z71bp9jo 06t54</td>
                <td data-th="Coluna 3">pq3gio7g fdqxfawr lcb2mm</td>
                <td data-th="Coluna 4">6tder25l 10iwa4mr djros</td>
                <td data-th="Coluna 5">lw1xkxtd 7u28xrzy bu6yw</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">nmfe4ub1 wf9osib0 v4826</td>
                <td data-th="Coluna 2">etuju9m7 irwmlz2w kppu0p</td>
                <td data-th="Coluna 3">kmzgba8i cidlkynn 4i6d1k</td>
                <td data-th="Coluna 4">muw2z4da ilju8svb fu7wba</td>
                <td data-th="Coluna 5">e33lnmn6 m2slkppd lwpk8i</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">5y95qzrs g7ej4osb l37e6</td>
                <td data-th="Coluna 2">4f0z7a7t 1w4uwxw2 t3jbkd</td>
                <td data-th="Coluna 3">d4pqwg9s rci1s2s6 69s8mx</td>
                <td data-th="Coluna 4">l0uuvfbz mnq3hw45 2fvjb</td>
                <td data-th="Coluna 5">ovbn1iho uyr60kre jojl55</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">0oecl6ao h9qox1zm zuycou</td>
                <td data-th="Coluna 2">zabsag28 kznp7233 50sn</td>
                <td data-th="Coluna 3">ixzgud30 holdeu3k wsqo9</td>
                <td data-th="Coluna 4">kxaiwjnj olfudn36 ehiny</td>
                <td data-th="Coluna 5">oqos4e41 hvb9doct zmjfl9</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">ddq9aoth akk2qfeh ieug0p</td>
                <td data-th="Coluna 2">ow1lkjyl zxcqvta3 p04k2</td>
                <td data-th="Coluna 3">6gtgxztk eoym3tq3 d2fp1</td>
                <td data-th="Coluna 4">n1rxbkw9 dhir3e0y bq22kq</td>
                <td data-th="Coluna 5">0b8ubb6w g8icpw1n ozbin</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">zpzn7z4h e4ybnmqe 7ioys</td>
                <td data-th="Coluna 2">cozd8w2x giey6gkg z7nj7h</td>
                <td data-th="Coluna 3">37zhotnl t1kgg3i7 5r0jkn</td>
                <td data-th="Coluna 4">1frjy50a elpjocdz xqyhn</td>
                <td data-th="Coluna 5">mipj9ha3 4lq5b679 3r7t1m</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">1a1aegye 8msh7260 chwiohb</td>
                <td data-th="Coluna 2">79l76ffc lqn100vn va8dxxf</td>
                <td data-th="Coluna 3">g87eem5j fqk28lb9 a9dh</td>
                <td data-th="Coluna 4">dplq8igu v2vdata1 7vl01</td>
                <td data-th="Coluna 5">4f5ogy2u cb5v92q2 vlxea</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">59zkhml1 ah3vrp6s rcchh</td>
                <td data-th="Coluna 2">8ahtbf7x 893ap86e ygkw9n</td>
                <td data-th="Coluna 3">wvk4d6cv 8q4kug9i 9tn9t</td>
                <td data-th="Coluna 4">ghd5vx38 jpd9wg48 ttw1r5</td>
                <td data-th="Coluna 5">zen1xng7 4rm51ksj gzp4nh</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">yglngh00 nyk0ibvr d8mr6lf</td>
                <td data-th="Coluna 2">k4i6boba ejmbkim5 ayh0j</td>
                <td data-th="Coluna 3">c7z86njg dcn8va53 gtofpt</td>
                <td data-th="Coluna 4">c43lpjv2 85krf0q3 81ive</td>
                <td data-th="Coluna 5">aw7ev9oc 16j7cmgr 6q1qaw</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">cko6b3ap vzi5qesr ryf03</td>
                <td data-th="Coluna 2">cxhinbxk zcls2giy het3t</td>
                <td data-th="Coluna 3">nmn7gaac klg52y02 ocj1ye</td>
                <td data-th="Coluna 4">2r3tzp0p j09zp7vl kb0l1</td>
                <td data-th="Coluna 5">gytb5ud3 jkagciqs iwvpk6</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="bottom-bar">
            <div class="items">
              <span>Exibir:</span>
              <div class="br-select is-small">
                <select name="select">
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <span class="divider"></span><span>1-10 de 50 itens</span>
            </div>
            <div class="pagination">
              <div class="selectors">
                <div class="br-select is-small">
                  <select name="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <span>de 3 páginas</span><span class="divider"></span>
              </div>
              <div class="arrows">
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="h2 mb-3 mt-5">Tabela simples</p>
      <div class="br-table">
        <div class="responsive syncscroll">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">71d6l0jt b5e3av50 f8qyv6</td>
                <td data-th="Coluna 2">2cufnv4z 8gtpr6yn 575u3l</td>
                <td data-th="Coluna 3">svvspkc4 97hdcfvx an92d</td>
                <td data-th="Coluna 4">hninwwwc 9vcxv8kl 5syskc</td>
                <td data-th="Coluna 5">nlqgbbvx 4ykjr9cf tyyo9</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">p3fyibir czlytghk tcgj</td>
                <td data-th="Coluna 2">1zx75m9m uurxyhzf uasato</td>
                <td data-th="Coluna 3">yn7qwagh rmytjuc7 wshg</td>
                <td data-th="Coluna 4">p9a325om xjagvjzb s863qd</td>
                <td data-th="Coluna 5">uyrnwnpv irlgsj9d bpcr</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">gntct1xk akf0mnnp 9qbkzvs</td>
                <td data-th="Coluna 2">unt67a21 ir86tqne 4c26h3</td>
                <td data-th="Coluna 3">t6uwp5l7 t4jg2jjd s3buf7</td>
                <td data-th="Coluna 4">wjym5rr4 0ier04s4 tkllg</td>
                <td data-th="Coluna 5">p4bw4smf wmh9ii7k josl6l</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">2gva2sk3 z91lr1ic na2om</td>
                <td data-th="Coluna 2">322jm84i du9zeish v518ei</td>
                <td data-th="Coluna 3">ucow9h9t 8gmiefam ffxqm</td>
                <td data-th="Coluna 4">rvdelhla hm6jzw7x pvooy</td>
                <td data-th="Coluna 5">x5gfwtx5 casyo9wv z1up</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">xhuez2ql p7zqil3z iwjyq</td>
                <td data-th="Coluna 2">zit7uymw thlgb8mp zrr2r</td>
                <td data-th="Coluna 3">jee0uasj hfguw5v1 dumi0o</td>
                <td data-th="Coluna 4">ynmt89tv icgsi4ov i1rkj</td>
                <td data-th="Coluna 5">g7w6om7h 5zray44q vgf0gh</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">3vafms6m q4bq9g46 7mat9</td>
                <td data-th="Coluna 2">a60w0dyr 1fca3cck nxkeo</td>
                <td data-th="Coluna 3">riq8cjtg dht2rrys 5jbt</td>
                <td data-th="Coluna 4">k4oh6qet ldfcm8t8 pm2v5</td>
                <td data-th="Coluna 5">mqiope73 6rqgnkud 8hcfj</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">lfpyibhk 2hrb3kfd uous2g</td>
                <td data-th="Coluna 2">z9w72phx n6bsdlqn ehktzo</td>
                <td data-th="Coluna 3">tlryp32o 9nmqo7w3 yocyd</td>
                <td data-th="Coluna 4">9aurwh2l 1hhyaxkc fmpd8</td>
                <td data-th="Coluna 5">ofsbmpzl 5gepksxw kitjf</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">rhillxtd tjwrz3nl c6c1j</td>
                <td data-th="Coluna 2">nrk6p6hn yzm9fi3n vhgfz6</td>
                <td data-th="Coluna 3">bhxw0jv2 ads4nif3 hs4584</td>
                <td data-th="Coluna 4">1gxg2alg udvaoalt 5g8xl8</td>
                <td data-th="Coluna 5">lxf4adkx ytor8ymi hnbmrg</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">orfxmogc oups4k82 nn3a</td>
                <td data-th="Coluna 2">43z5x7n4 7fgerlk0 7drg45</td>
                <td data-th="Coluna 3">8ie7blv9 xonb9g6g ludyzh</td>
                <td data-th="Coluna 4">6ecmk74t tvj3q8co vwe0hq</td>
                <td data-th="Coluna 5">kstuwwlr lwe9uwzc pmlu8r</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">udo09699 43ir0b8j 2lmy7</td>
                <td data-th="Coluna 2">afbrouhn ofge9pqh y7qtje</td>
                <td data-th="Coluna 3">cpmz18ex akrcdbjf 3uuz4</td>
                <td data-th="Coluna 4">ej14m2nx bhof3ksu 24awqp</td>
                <td data-th="Coluna 5">ula8cfey us64412a u9h93</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">mu2libux ohjp646x y2vjb</td>
                <td data-th="Coluna 2">dx98zpek 12p9688o 7z1oj</td>
                <td data-th="Coluna 3">qq715kce txawnujc lzgbae</td>
                <td data-th="Coluna 4">jfekwuhg xlfiaxv6 16otu8</td>
                <td data-th="Coluna 5">omctqqjd mnbbate5 ii7ks</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">b0xe4zrx otwkhyrf 1emf4t</td>
                <td data-th="Coluna 2">j504052y 4vevbekp xqzvd</td>
                <td data-th="Coluna 3">j0ycp3wr doo3rju4 nxlopj</td>
                <td data-th="Coluna 4">qm3334dl scidctya gly3</td>
                <td data-th="Coluna 5">v5ckvv7o 7kntnfx0 rqzzk9</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">3tq4xmh6 and2leeh w9grzq</td>
                <td data-th="Coluna 2">pd5pqk8z rnq6kjgn xr80o3</td>
                <td data-th="Coluna 3">4dfv8n81 h93q1mwo cjq7zs</td>
                <td data-th="Coluna 4">dqs871vf 1d6ldhi2 q9pbm</td>
                <td data-th="Coluna 5">ea20h5op zvilab09 8wkht</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">lgahdhja 2bo03ote xhtgl8k</td>
                <td data-th="Coluna 2">t0ouir1s 4tmeazkp fxn1ug</td>
                <td data-th="Coluna 3">fduvy0rh cqvhscgg ovqu</td>
                <td data-th="Coluna 4">44f6aevw zp3tvrup g1132h</td>
                <td data-th="Coluna 5">1eb83ccr 3j66j5sb xyjww5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../js/components/syncscroll.js"></script>
    <script src="../js/components/table.js"></script>
    <script src="../js/components/select.js"></script>
  </body>
</html>
