<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tabela</title>
    <!-- Fonte Rawline-->
    <link
      rel="stylesheet"
      href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/fonts/rawline/css/rawline.css"
    />
    <!-- Fonte Raleway-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"
    />
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css" />
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <p class="h2 mb-3">Datatable</p>
      <div class="br-table is-datatable">
        <div class="header">
          <div class="top-bar">
            <div class="title">Título da Tabela</div>
            <div class="search-button">
              <button
                class="br-button is-circle is-tertiary"
                id="search-trigger"
                type="button"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="search-bar">
            <div class="br-input is-medium has-icon">
              <label for="table-search">Buscar</label>
              <input
                id="table-search"
                type="text"
                placeholder="Buscar na tabela"
              />
              <button class="icon" type="button">
                <span class="sr-only">Buscar</span><i class="fas fa-search"></i>
              </button>
            </div>
            <button
              class="br-button is-circle ml-1"
              id="search-close"
              type="button"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="responsive">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">tbyokqqg 3rsb2jvp 2pyrf</td>
                <td data-th="Coluna 2">ehhqdnza 9duv29ea 7dn5id</td>
                <td data-th="Coluna 3">p357cxw1 i5bt64fi riw6f</td>
                <td data-th="Coluna 4">pyh7b259 xzdmvpw0 qbvjs8</td>
                <td data-th="Coluna 5">2ijj5oj1 v6wzrk6x a4xur</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">nr42srn5 xpsmbgro 56vb</td>
                <td data-th="Coluna 2">2y2py3gn ijrzurfy xacmrn</td>
                <td data-th="Coluna 3">cembz623 4979xmd4 c3edsi</td>
                <td data-th="Coluna 4">9yupexf2 4aoks85t i2g26o</td>
                <td data-th="Coluna 5">9ng46rgi i38gvivd eoay3t</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">qgbmc5ua fsmvzzjl 35i7</td>
                <td data-th="Coluna 2">17iofhgv tcx33h33 c7y35w</td>
                <td data-th="Coluna 3">dvj2o9h5 rp5x0b8b 9g3v5d</td>
                <td data-th="Coluna 4">u4lh9c1k hetpk165 7r3vx</td>
                <td data-th="Coluna 5">75arkc1z k9rtjfg4 04jubh</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">qzibygas 3n5rsqsr 57nt</td>
                <td data-th="Coluna 2">yxyjhbza 2sqmafsl yikclc</td>
                <td data-th="Coluna 3">8yuxsw0w ddq1zg36 8548mn</td>
                <td data-th="Coluna 4">hialkva8 q5g2hlq1 x6alfq</td>
                <td data-th="Coluna 5">6gh99szj phixyyll ioswy</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">xd6x96zv jsx31597 eqxj</td>
                <td data-th="Coluna 2">7n0ymr7f 8ugd4wue duao8b</td>
                <td data-th="Coluna 3">v8lrt3hs 2lbju1wd 1kde9q</td>
                <td data-th="Coluna 4">gnb4204h 9ciq3o9s tu4gg9</td>
                <td data-th="Coluna 5">zfyfjivx 8shlnlty 0sscx</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">16ofvcb4 djvqadms 64173</td>
                <td data-th="Coluna 2">z6qkomdb mg9wyjkz cmref</td>
                <td data-th="Coluna 3">5m1d1ncq 8astf12r 2ej97r</td>
                <td data-th="Coluna 4">k77b2gca ewsoak1r oohn</td>
                <td data-th="Coluna 5">a1omaasb 1y6i8mv1 5zqcpr</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">e2hw36aw a8q3d5uw 9n0y7e</td>
                <td data-th="Coluna 2">9vjp5lim btcv3zra 9thv7</td>
                <td data-th="Coluna 3">mnryn6d6 o3wp0ghj 9bqu</td>
                <td data-th="Coluna 4">a9ebylhn 2kpew2qr 6p24u8</td>
                <td data-th="Coluna 5">adodann4 0zd3d2a7 ebrlom</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">tx7eagbp tfargk17 8zygv</td>
                <td data-th="Coluna 2">m22f7wko jzh949c2 l43j7</td>
                <td data-th="Coluna 3">z5zp5oz6 77ny9lma 1bucmq</td>
                <td data-th="Coluna 4">ichcr5yd 7k9jxl5i jvof5c</td>
                <td data-th="Coluna 5">5q89a5p3 ge46ejoi 4a1bqk</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">j7rbh2ig 6vsukcwq 0i99wa</td>
                <td data-th="Coluna 2">y5dvyeee bxctnrze 89aah8</td>
                <td data-th="Coluna 3">cvjp9ysg s4fntl5s a1ifk</td>
                <td data-th="Coluna 4">nuqai2eq dalxwisu ztsjy</td>
                <td data-th="Coluna 5">dw6bd6rg vjhszmik j7a</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="bottom-bar">
            <div class="items">
              <span>Exibir:</span>
              <div class="br-select is-small">
                <select name="select">
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <span class="divider"></span><span>1-10 de 50 itens</span>
            </div>
            <div class="pagination">
              <div class="selectors">
                <div class="br-select is-small">
                  <select name="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <span>de 3 páginas</span><span class="divider"></span>
              </div>
              <div class="arrows">
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="h2 mb-3 mt-5">Tabela simples</p>
      <div class="br-table">
        <div class="responsive">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">1mnxhdnb 53igroq0 c6t13wg</td>
                <td data-th="Coluna 2">lkuzmk7z tl5taaer ni3nl</td>
                <td data-th="Coluna 3">hyjqn1qr 1g4nizh9 23pkj</td>
                <td data-th="Coluna 4">kcx3l2x6 skskk8zd fn83h</td>
                <td data-th="Coluna 5">8826eju1 tdvl0vrl rrqrrp</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">lx8wb05s pt4dwg80 dtqzl</td>
                <td data-th="Coluna 2">yrk4j2uj 9eplqd5h tnwno</td>
                <td data-th="Coluna 3">zw07vjuz hagphq18 3yr78g</td>
                <td data-th="Coluna 4">c6vqciwu hu5kq29m nsc1mj</td>
                <td data-th="Coluna 5">b41n2e6w rmfuhdmo 8ba1m</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">ymf47c9g pair4x78 1gd4q</td>
                <td data-th="Coluna 2">vfxyxgaj kgjenbqu igcefm</td>
                <td data-th="Coluna 3">mwmpswzs i3j50afi lyj0ka</td>
                <td data-th="Coluna 4">6rmpuzvv lq4zboru efqdbl</td>
                <td data-th="Coluna 5">wlb53ezi gifyozwv m8nq7</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">ld7la62f zfqevb30 szawo</td>
                <td data-th="Coluna 2">ue4aan8a ymkr2czt 7j80o</td>
                <td data-th="Coluna 3">sn4dbi3i vpaop2g6 3lxj2n</td>
                <td data-th="Coluna 4">kgkm26nq 62e36uv8 w9eka5</td>
                <td data-th="Coluna 5">3uv8mj1q r5qg37aq iynb9m</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../js/components/syncscroll.js"></script>
    <script src="../js/components/table.js"></script>
    <script src="../js/components/select.js"></script>
  </body>
</html>
