<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tabela</title>
    <!-- Fonte Rawline-->
    <link
      rel="stylesheet"
      href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/fonts/rawline/css/rawline.css"
    />
    <!-- Fonte Raleway-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"
    />
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css" />
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <p class="h2 mb-3">Datatable</p>
      <div class="br-table is-datatable">
        <div class="header">
          <div class="top-bar">
            <div class="title">Título da Tabela</div>
            <div class="search-button">
              <button
                class="br-button is-circle is-tertiary"
                id="search-trigger"
                type="button"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="search-bar">
            <div class="br-input is-medium has-icon">
              <label for="table-search">Buscar</label>
              <input
                id="table-search"
                type="text"
                placeholder="Buscar na tabela"
              />
              <button class="icon" type="button">
                <span class="sr-only">Buscar</span><i class="fas fa-search"></i>
              </button>
            </div>
            <button
              class="br-button is-circle ml-1"
              id="search-close"
              type="button"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="responsive">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">257d3e8f iogfi4w3 14i9dw</td>
                <td data-th="Coluna 2">h6hjvrb8 3zsezwsa v5t7te</td>
                <td data-th="Coluna 3">tt06sm9o kbtmad3v bgvm</td>
                <td data-th="Coluna 4">jl1low7s 9ya9duhn ttw0mk</td>
                <td data-th="Coluna 5">h3auca0x zy4vcapz fva1x</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">hf4fwqxr tgdqunf8 gjfg8</td>
                <td data-th="Coluna 2">pn25xhif z695b4hr f8qt53</td>
                <td data-th="Coluna 3">66qq4sao qslz8ykn ztcr0f</td>
                <td data-th="Coluna 4">3y8io6jr 8kxn66yt dx6fp</td>
                <td data-th="Coluna 5">ow4wik00 rucrxijc rvvjqa</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">7938p1w0 6j5ddbp3 kl0sqe</td>
                <td data-th="Coluna 2">opn4rnqy m0svewib 69pbqi</td>
                <td data-th="Coluna 3">sral9kt3 3vok0kxt ny7lp</td>
                <td data-th="Coluna 4">xeqx7auf hpaydztr 7v8uu</td>
                <td data-th="Coluna 5">eawmy8hh ighn2hy0 65f2u</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">iufgc2n4 2nkpryv0 xzts8</td>
                <td data-th="Coluna 2">h7xdg9ja pmgh9int 1bostj</td>
                <td data-th="Coluna 3">yo8sziyf kfvquttx k7xr</td>
                <td data-th="Coluna 4">xnriv4q8 deeki4no 3214ub</td>
                <td data-th="Coluna 5">i5ktr52s frexxivw vvycco</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">4roc7h4l su6fgmks a5yhnq</td>
                <td data-th="Coluna 2">aqre5168 vopg6cvb 9osv1i</td>
                <td data-th="Coluna 3">nae5821q yqeh7ymd kf3p</td>
                <td data-th="Coluna 4">e6uingcm q3gxukxt p6fcx8</td>
                <td data-th="Coluna 5">8qg1rmiw 8345gxi8 o0gdu8</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">f14fgpf5 gr62eqr2 fntilj</td>
                <td data-th="Coluna 2">lh9pacwm vjdy1xev cbj35</td>
                <td data-th="Coluna 3">sektuycr aadm0b4p byr9m</td>
                <td data-th="Coluna 4">ut3k3975 wrdq5bvp gphwi</td>
                <td data-th="Coluna 5">k0llrgt9 fpjerb9x vvvlv</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">w9sa0n5t viz4q9zd dvtjr</td>
                <td data-th="Coluna 2">vcrip5ph 6urlsds3 pdf3m</td>
                <td data-th="Coluna 3">ahxv2351 extllyx8 lg37pj</td>
                <td data-th="Coluna 4">f5clwc2y uobewp9t ximg1f</td>
                <td data-th="Coluna 5">1hrqlu6f bud5vqh5 nhg25e</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">d8axivqq zsozv1yh 73bq4d</td>
                <td data-th="Coluna 2">ogxkw9jg ifbkn17t 0yp0s</td>
                <td data-th="Coluna 3">d2qufek7 mzuz7j7v l6mp7</td>
                <td data-th="Coluna 4">0bpf3zlz c9lvx0fy qil6ns</td>
                <td data-th="Coluna 5">di1zkxdb 6xu1vvdx 7g7lls</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">yfrd41ue 7a24h4z9 ximu</td>
                <td data-th="Coluna 2">t6gcipeu gztmxlh9 xehauj</td>
                <td data-th="Coluna 3">e9ynhbxj t0ug2i2c qjioqb</td>
                <td data-th="Coluna 4">drng778l 8iltnt4l iu3ev</td>
                <td data-th="Coluna 5">tpgaivko f2qdhfdu 44gvjf</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">21iqyw78 5tkgeh85 cqebxm</td>
                <td data-th="Coluna 2">glt1u9vz wlr4ju4i ftbs1</td>
                <td data-th="Coluna 3">f5zs5590 kaj0bs93 0nv3ul</td>
                <td data-th="Coluna 4">1lg5ngoc xcala2pb fdio1</td>
                <td data-th="Coluna 5">4m43czf3 ynl26ij3 zu65m6</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">jbaov52e fextd1y2 93ntp</td>
                <td data-th="Coluna 2">fnqbn0r0 4xhp8ntn g4ea8n</td>
                <td data-th="Coluna 3">f6fdo6li u76vr8j8 kauc3</td>
                <td data-th="Coluna 4">xdfdwi8p h6whft8x ul15</td>
                <td data-th="Coluna 5">a6u0gnxb btch6d08 qu49m6</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">ipphpz10 ra67lstc xe5cc</td>
                <td data-th="Coluna 2">x92ig0rg ctomzjci g3zay8</td>
                <td data-th="Coluna 3">v50zcnxe kahbtoro 8da9jg</td>
                <td data-th="Coluna 4">1041hwtc 0alnia7e vqplipl</td>
                <td data-th="Coluna 5">jwday01p b8n6dhoa 3q2cy</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">2qky8nm6 fzgs7nyf 3uycpp</td>
                <td data-th="Coluna 2">p80djo10 i7307y9x ngm98</td>
                <td data-th="Coluna 3">3mru3rwr z28v1gx0 00xoz</td>
                <td data-th="Coluna 4">vbircnce 1n23tdfk fk1g4</td>
                <td data-th="Coluna 5">qso1yweb b9j777ie 85vesf</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">o9w3m950 6fa3qbg0 v7jzb</td>
                <td data-th="Coluna 2">4nlfc4dn 5vwwstm5 k7prj</td>
                <td data-th="Coluna 3">q3jffv45 xuglp1cf 88zaht</td>
                <td data-th="Coluna 4">yifya5nm l6ik6b1m zllwef</td>
                <td data-th="Coluna 5">ibptirpm 5xeqtyq2 hlxe0d</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="bottom-bar">
            <div class="items">
              <span>Exibir:</span>
              <div class="br-select is-small">
                <select name="select">
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
              </div>
              <span class="divider"></span><span>1-10 de 50 itens</span>
            </div>
            <div class="pagination">
              <div class="selectors">
                <div class="br-select is-small">
                  <select name="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>
                <span>de 3 páginas</span><span class="divider"></span>
              </div>
              <div class="arrows">
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <button class="br-button is-circle is-secondary" type="button">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="h2 mb-3 mt-5">Tabela simples</p>
      <div class="br-table">
        <div class="responsive">
          <table>
            <thead>
              <tr>
                <th>Coluna 1</th>
                <th>Coluna 2</th>
                <th>Coluna 3</th>
                <th>Coluna 4</th>
                <th>Coluna 5</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Coluna 1">hh4uhjdj xeothjk3 pgvt2</td>
                <td data-th="Coluna 2">mymo4b2o nyodtyvw pg9tg</td>
                <td data-th="Coluna 3">tfuff2iq lz5uujx9 yapao</td>
                <td data-th="Coluna 4">o8fqj5u2 lsldbjix jxdide</td>
                <td data-th="Coluna 5">nerackrl m9pkj7s7 swl6cr</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">n2d3vo1h rdy8xsdi tjgrc</td>
                <td data-th="Coluna 2">4i3g8emn zu60vglc r5xtpz</td>
                <td data-th="Coluna 3">bkut7yfj oqbmvnm5 jt20o</td>
                <td data-th="Coluna 4">fzncqr2f nj7iul36 a7yqvn</td>
                <td data-th="Coluna 5">agmdgssy 5g7mdx4p 9f60x</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">dv7w9llr cj9pcw72 7jvsbm</td>
                <td data-th="Coluna 2">xc8pvhsu zlbvje7d sezorb</td>
                <td data-th="Coluna 3">xvo60y9d lbro9sge 34t7va</td>
                <td data-th="Coluna 4">9o1br63u 9s9ii8dv i8aj7</td>
                <td data-th="Coluna 5">7koa7ro0 nwb7y3l2 7t4jmi</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">d3qh7ms9 kq4gqhjh jky15s</td>
                <td data-th="Coluna 2">g7sct4cn pm59lovr 8noqc5</td>
                <td data-th="Coluna 3">m4db0buk efare4dn w7fpp</td>
                <td data-th="Coluna 4">bllf7z27 byap77dp qrpxx</td>
                <td data-th="Coluna 5">dqgl9njo 69mx5w16 quzq4</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">nmudbum1 ii9s6ezs 28kge</td>
                <td data-th="Coluna 2">uzi87f9l nzlrhdyo qktl9s</td>
                <td data-th="Coluna 3">6ifpbjmy vgazyod2 w3jofr</td>
                <td data-th="Coluna 4">gdc2dl0m 9ff4v7x2 0vhgi4</td>
                <td data-th="Coluna 5">jl8bmo2z 2nit5a8l wjmwk</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">wefsljr4 2doxdlwx qqzfhn</td>
                <td data-th="Coluna 2">8g2bi3l7 3mwnejdn laj57h</td>
                <td data-th="Coluna 3">3orodedw 203q8oho 61zw6b</td>
                <td data-th="Coluna 4">y8g9di4i idjszjya rg2kw</td>
                <td data-th="Coluna 5">3zkiaa8f bk72n2rq 6ic4jg</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">7rev2jpq qx4klkhp s6p6gn</td>
                <td data-th="Coluna 2">136o7ein 0sm48h3g ntoxo9</td>
                <td data-th="Coluna 3">4ainxwf9 9iw4noy5 bkzsco</td>
                <td data-th="Coluna 4">287waoff qmbj82bj g8sjy</td>
                <td data-th="Coluna 5">qrkqxjcu dtqvp2pw sjl98</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">riji8482 12jexi1x rthu7v</td>
                <td data-th="Coluna 2">565q0vd8 pkusg0aq 4epz6l</td>
                <td data-th="Coluna 3">k72an8qj t65s6pzw nsqbu</td>
                <td data-th="Coluna 4">4evye8z7 13h7dfns n0my8x</td>
                <td data-th="Coluna 5">hzjjzy7f zeiti16i v6zez</td>
              </tr>
              <tr>
                <td data-th="Coluna 1">jfvn9enw 5ihaguuv jy476s</td>
                <td data-th="Coluna 2">45mfa4k0 4bt43ogq 4qzlzx</td>
                <td data-th="Coluna 3">sr0enyft u48yqyhs h3quo</td>
                <td data-th="Coluna 4">brmxbnom v1utsrys ux97bm</td>
                <td data-th="Coluna 5">z01pca7m spl9c2oq cy69bf</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="../js/components/table.js"></script>
    <script src="../js/components/select.js"></script>
  </body>
</html>
